{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block body %}

    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %} 
            {% if category =='error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
    {% endwith %}

    <div style="padding: 15%;">
        <form method="POST" style="padding: 2%" class="body-main-list">
        <h3 align="center">Password Reset</h3>
        {% if boolean %}

        <div class="form-group">
            <label for="e_mail">Email</label>
            <input
            type="email"
            class="form-control"
            id="e_mail"
            name="e_mail"
            placeholder="Enter email"
            />
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Submit</button>

        {% else %}

        <div class="form-group">
            <label for="userName">Username</label>
            <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
            placeholder="Enter minecraft username"
            info="test"
            required
            />
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Next</button>

        {% endif %}

        </form>
    </div>
    {% endblock %}