{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block body %}

    <nav class="header"> 

        <div style="display: flex; flex-direction: row; align-content: center">
        
            <a href="" style="margin-left: 50px; align-self: center">
                
                
                
            </a>
        
            <div class="navbar navbar-expand-lg navbar-dark" id="navbar">
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" id="logout" href="/logout" style="color:white">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" id="login" href="/login" style="color:white">Login</a>
                    <a class="nav-item nav-link" id="signUp" href="/sign-up" style="color:white">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        
        </div>
        
        <p style="margin-right: 50px; align-self: center; text-align: center; margin-top: auto; margin-bottom: auto;">{{dt}}</p>
        
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category, message in messages %} 
                {% if category =='error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endif %} 
            {% endfor %} 
        {% endif %} 
    {% endwith %}

    {% if not passwordCheckPass %}

    <div style="padding: 15%;">
        <form method="POST" style="padding: 2%" class="body-main-list">
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="userName">Username</label>
            <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
            placeholder="Enter username"
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
            />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/forgot_password" style="margin-top: 20px; margin-bottom: -40px;"><p>Forgot your password?</p></a>
        </form>
        
    </div>

    {% else %}

    <div style="padding: 15%;">
        <form method="POST" id="go_back_form" style="position: absolute;"><input type="checkbox" id="one_step_back" name="one_step_back" checked hidden><button style="border: 0; background-color: transparent; font-size: xx-small; color:blue" type="submit">&#8592; Go back</button></form>
        <form method="POST" style="padding: 2%" class="body-main-list" id="otp_form">
        <h3 align="center">2-Factor Authentication</h3>

        {% if mfa_type == 'A' %}
        <p align="center">Enter the code from your authenticator app</p>
        {% else %}
        <p align="center">Enter the code you received on your e-mail</p>
        {% endif %}

        <div class="form-group" align="center">
            <label for="userName">OTP Code</label>
            {% if mfa_type == 'A' %}
            <input
            type="text"
            id="otp_code"
            name="otp_code"
            pattern="[0-9]{6}"
            autocomplete="off"
            required
            />
            {% else %}
            <input
            type="text"
            id="otp_code"
            name="otp_code"
            autocomplete="off"
            required
            />
            {% endif %}
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Verify</button>
        </form>
        
    </div>

    {% endif %}

    
{% endblock %}