{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block sockets %}
<script>
    const manage_server_ip = (new URLSearchParams(window.location.search)).get('ip');
    socket.on('connect', function() {
        socket.emit('ask port status', {data: manage_server_ip});
    });

    socket.on('get port status', function(data) {
        document.getElementById('refresh_ports').disabled = false;
        document.getElementById('refresh_ports_icon').className = 'fa fa-refresh';

        data = JSON.parse(data);
        console.log(data)
        
        var row;
        for (var i=0; i<data['gameservers'].length; i++){
            row = document.getElementById(data['gameservers'][i]['id']);
            try{
                if (data['gameservers'][i]['port_status']==0){
                    row.querySelector('#server_status').innerHTML = '<span id="port" class="badge badge-success">Online</span>'
                    if (data['gameservers'][i]['is_local']){
                        row.querySelector('#action').innerHTML = '<form action="/manage/shutoff?name='+ row.querySelector('#ip_name').innerHTML +'&server_ip=' + manage_server_ip +'" method="POST"><button type="submit" class="close" id="turn_off_server" name="ip" onSubmit="return confirm(\'Are you sure you wish to stop the server?\');"><span aria-hidden="true" style="font-size: 12px;margin: auto;">Stop</span></button></form>'
                    }
                }
                else{
                    row.querySelector('#server_status').innerHTML = '<span id="port" class="badge badge-danger">Offline</span>'
                    if (data['gameservers'][i]['is_local']){
                        row.querySelector('#action').innerHTML = '<form action="/manage/turnon?name='+ row.querySelector('#ip_name').innerHTML +'&server_ip=' + manage_server_ip +'" method="POST"><button type="submit" class="close" id="turn_on_server" name="ip" onSubmit="return confirm(\'Are you sure you wish to start the server?\');"><span aria-hidden="true" style="font-size: 12px;margin: auto;">Start</span></button></form>'
                    }
                }
                if(!data['gameservers'][i]['is_local']){
                    row.querySelector('#action').innerHTML = '<form action="/manage/remove_unmanaged_gameserver" method="POST"><button type="submit" class="close" id="refresh_ports" name="gameserver_ip" value="'+manage_server_ip+':'+row.querySelector('#server_port').innerHTML+'"><span aria-hidden="true" style="font-size: 12px;margin: auto; color: brown">Delete</span></button></form><button class="btn btn-secondary btn-sm" style="font-size: 10px; padding-top:2px; padding-bottom:2px; margin-left:8px" onClick="openInfoEditPopup(\''+data['gameservers'][i]['id']+'\')">Edit info</button>'
                }
                else{
                    row.querySelector('#action').innerHTML = '<button class="btn btn-secondary btn-sm" style="font-size: 10px; padding-top:2px; padding-bottom:2px; margin-left:8px" onClick="openInfoEditPopup(\''+data['gameservers'][i]['id']+'\')">Edit info</button>';
                }
            }
            catch(e){
                console.warn('Unable to update server with id ' + data['gameservers'][i]['id']);
                continue
            }
        }

        document.getElementById('nav_date').innerHTML = 'Last update: ' + data['date_now']
    });

    function refreshPorts(){
        document.getElementById('refresh_ports').disabled = true;
        document.getElementById('refresh_ports_icon').className = 'fa fa-spinner fa-spin';
        socket.emit('ask port status', {data: manage_server_ip});
    }

    function add_new_open(){
        document.getElementById('add_server_section').innerHTML='<form action="/manage/add_unmanaged_gameserver" method="POST" style="padding: 2%; display: flex; flex-direction: row" class="body-main-list"><input id="new_server_port" type="text" name="server_port" style="display: inline-block" placeholder="Server port" required><button type="submit" class="btn btn-success" style="display: inline-block" name="server_ip" value="'+manage_server_ip+'">Add</button><button onclick="close_new_open()" class="btn btn-secondary" style="display: inline-block">X</button></form>';
        document.getElementById('new_server_port').select()
    }

    function close_new_open(){
        document.getElementById('add_server_section').innerHTML='<button type="button" class="btn btn-light" id="add_new_button" onclick="add_new_open()" style="align-self: center;">Add unmanaged server <i class="fa fa-plus-square"></i></button>'
    }

    function openInfoEditPopup(port_id){
        console.log('test: ' + port_id)
        document.getElementById(port_id+'--info').hidden=false
    }

    function closeInfoEditPopup(port_id){
        document.getElementById(port_id+'--info').hidden=true
    }

</script>

{% endblock %}

{% block body %}

<nav class="header"> 

<div style="display: flex; flex-direction: row; align-content: center">

    <a href="/" style="margin-left: 50px; align-self: center">
        
        <img src="https://mineskin.eu/avatar/{{current_user.uuid}}" style="height: 42px; width: 42px"></img>
        
    </a>

    <div class="navbar navbar-expand-lg navbar-dark" id="navbar">
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" id="logout" href="/settings" style="color:white">Settings</a>
            <a class="nav-item nav-link" id="logout" href="/logout" style="color:white">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/login" style="color:white">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up" style="color:white">Sign Up</a>
            {% endif %}
        </div>
    </div>

</div>

<p id = "nav_date" style="margin-right: 50px; align-self: center; text-align: center; margin-top: auto; margin-bottom: auto;">Last update: {{dt}}</p>

</nav>

{% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %} 
            {% if category =='error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
    {% endwith %}


<div class="body-main">
    <div class="body-main-list" style="min-width: 20%;">
        <div style="display: flex; flex-direction:row; justify-content:space-between;">
            <h4 style="padding-top: 10px" id="manage_server_name">Servers for </h4>
            <button type="button" class="btn btn-light" id="refresh_ports" onclick="refreshPorts()" disabled><i class="fa fa-spinner fa-spin" id="refresh_ports_icon" style="align-self: center"></i></button>
        </div>
        <table class="table"> 
            <thread style="padding-bottom: 10px">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Port</th>
                    <th scope="col">Status</th>
                    <th scope="col">Folder Name</th>
                    <th scope="col">On Scheduler</th>
                    <th scope="col">Action</th>
                </tr>
            </thread>

            {%for i in range(servers |length)%}
                
            <tr id="{{servers[i]['id']}}">
                <th scope="row">{{i+1}}</th>
                <td id="server_port">{{servers[i]['local_port']}}</td>
                <td id="server_status">
                {% if servers[i]['port_status']==0 %}
                    <span id="port" class="badge badge-success">Online</span>
                {% else %}
                    <span id="port" class="badge badge-danger">Offline</span>
                {% endif %}
                </td>
                <td id="ip_name">{{servers[i]['dir']}}</td>
                <td style="text-align: center;">
                    {% if servers[i]['schedule']==-1 or not managed %}
                    <button type="submit" class="btn btn-primary btn-sm" style="font-size: 10px; padding-top:2px; padding-bottom:2px" disabled>On</button>
                    {% endif %}
                    {% if servers[i]['schedule']==0 and managed %}
                    <form id="schedule_action_{{servers[i]['id']}}" action="/manage/toggle_schedule?ip={{servers[i]['ip']}}&port={{servers[i]['local_port']}}" method="POST"><button type="submit" class="btn btn-secondary btn-sm" style="font-size: 10px; padding-top:2px; padding-bottom:2px">Off</button></form>
                    {% endif %}
                    {% if servers[i]['schedule']==1 and managed %}
                    <form id="schedule_action_{{servers[i]['id']}}" action="/manage/toggle_schedule?ip={{servers[i]['ip']}}&port={{servers[i]['local_port']}}" method="POST"><button type="submit" class="btn btn-primary btn-sm" style="font-size: 10px; padding-top:2px; padding-bottom:2px">On</button></form>
                    {% endif %}
                </td>
                <td id="action" style="display: flex; flex-direction: row;"></td>
                <td id="{{servers[i]['id'] + '--info'}}" style="display: flex; flex-direction: row;" hidden>
                    <form id="{{servers[i]['id'] + '--info'}}" style="position:relative" method="POST">
                        <input type="text" name="info_content" id="info_content" value="{{servers[i]['info']}}"></input>
                        <input type="text" name="info_update" id="info_update" value="info-update" hidden></input>
                        <input type="text" name="cor_id" id="cor_id" value="{{servers[i]['id']}}" hidden></input>
                        <button type="submit">Update</button>
                    </form>
                    <button onclick=closeInfoEditPopup('{{servers[i]['id']}}')>X</button>
                </td>
             </tr>
             
        {%endfor%}

        </table>


        {% if not managed %}
        <div id="add_server_section" style="display: flex; flex-direction: column;">
            <button type="button" class="btn btn-light" id="add_new_button" onclick="add_new_open()" style="align-self: center;">Add minecraft server <i class="fa fa-plus-square"></i></button>
        </div>
        {% endif %}

    </div>
</div>

{% if managed %}

<div class="body-main" style="margin-top: 80px">
    <div class="body-main-list" style="min-width: 20%;">
        <h4 style="padding-top: 10px; align-self: center;">SSH Access</h4>
        <br>
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <p>Generate a new SSH key by clicking the button bellow:</p>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <form method="POST" action="/manage/reset_ssh_key" id="server_key_generate_form" style="padding: 2%" class="body-main-list" onSubmit="return confirm('Are you sure you wish to generate a new key?');">
                <button type="submit" class="btn btn-success" id="server_key_generate_btn">Generate</button>
            </form>
            <script>
                //On submit generate button disabler
                function btnDisable(event){
                    document.getElementById('server_key_generate_btn').disabled = true;
                }

                const frm = document.getElementById('server_key_generate_form');
                frm.addEventListener("submit", btnDisable);
            </script>
        </div>

    </div>
</div>

{% endif %}

<script>
    document.getElementById('manage_server_name').innerHTML+=manage_server_ip
</script>

{% endblock %}