{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block sockets %}

<script>

    function add_new_open(){
        document.getElementById('add_server_section').innerHTML='<form action="/settings/add_unmanaged" method="POST" style="padding: 2%; display: flex; flex-direction: row" class="body-main-list"><input id="new_server_ip" type="text" name="server_ip" style="display: inline-block" placeholder="example.duckdns.org" required><button type="submit" class="btn btn-success" style="display: inline-block">Add</button><button onclick="close_new_open()" class="btn btn-secondary" style="display: inline-block">X</button></form>';
        document.getElementById('new_server_ip').select()
    }

    function close_new_open(){
        document.getElementById('add_server_section').innerHTML='<button type="button" class="btn btn-light" id="add_new_button" onclick="add_new_open()" style="align-self: center;">Add unmanaged server <i class="fa fa-plus-square"></i></button>'
    }

</script>

{% endblock %}

{% block body %}

<nav class="header"> 

<div style="display: flex; flex-direction: row; align-content: center">

    <a href="/" style="margin-left: 50px; align-self: center">
        
        <img src="https://mineskin.eu/avatar/{{current_user.uuid}}" style="height: 42px; width: 42px"></img>
        
    </a>

    <div class="navbar navbar-expand-lg navbar-dark" id="navbar">
        <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" id="logout" href="/settings" style="color:white">Settings</a>
            <a class="nav-item nav-link" id="logout" href="/logout" style="color:white">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/login" style="color:white">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up" style="color:white">Sign Up</a>
            {% endif %}
        </div>
    </div>

</div>

<p style="margin-right: 50px; align-self: center; text-align: center; margin-top: auto; margin-bottom: auto;">Last update: {{dt}}</p>

</nav>

{% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %} 
            {% if category =='error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
    {% endwith %}

<div class="body-main">
    <div class="body-main-list" style="min-width: 20%;">
        <h4 style="padding-top: 10px; align-self: center;">User Details</h4>
        <br>
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <p>Username: </p><p>{{current_user.username}}</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-around;">
            <form method="POST" style="padding: 2%" id ='delete_user' class="body-main-list" onSubmit="return confirm('Are you sure you wish to delete?');">
                <input
                type="checkbox"
                id="delete_user"
                name="delete_user"
                checked
                hidden
                />
                <button type="submit" class="btn btn-danger" style="font-size:smaller;">Delete User</button>
            </form>

            {% if mfa_type == 'A' %}
            
            <form method="POST" style="padding: 2%" id ='remove_mfa_app' class="body-main-list" onSubmit="return confirm('Are you sure you wish to remove the MFA option?');">
                <input
                type="checkbox"
                id="remove_mfa_app"
                name="remove_mfa_app"
                checked
                hidden
                />
                <button type="submit" class="btn btn-danger" style="font-size:smaller;">Remove Authenticator</button>
            </form>

            {% else %}

            <form action="/add_mfa" style="padding: 2%" id ='add_mfa_app'>
                <button type="submit" class="btn btn-primary" style="font-size:smaller;">Add Authenticator</button>
            </form>

            {% endif %}
        </div>

    </div>

    {% if current_user.is_privilleged %}
    <div class="body-main-list" style="min-width: 20%;">
        <div style="display: flex; flex-direction:row;">
            <h4 style="padding-top: 10px; align-self: center;">Active Servers</h4>
            
        </div>
        <br>
        <table class="table"> 
            <thread style="padding-bottom: 10px">
                <tr>
                    <th scope="col"><p style="display: inline-block;">#</p></th>
                    <th scope="col"><p style="display: inline-block;">Local IP</p></th>
                    <th scope="col"><p style="display: inline-block;">Status</p></th>
                    <th scope="col">Actions</th>                    
                </tr>
            </thread>
        
            {%for server in servers%}
                
            <tr>
                <th scope="row">{{server['order_id']}}</th>
                {% if server['status']=='Online' or server['is_local']==0%}
                <td><a href="/manage?ip={{server['ip']}}">{{server['ip']}}</a></td>
                {% else %}
                <td>{{server['ip']}} </td>
                {% endif %}
                <td>
                    {% if server['is_local']==1 %}
                        {% if server['status']=='Online' %}
                            <span id="port_server['order_id']" class="badge badge-success" style="display: inline-block;">Online</span>
                        {% else %}
                            <span id="port_server['order_id']" class="badge badge-danger">Offline</span>
                        {% endif %}
                    {% else %}
                        <span id="port_server['order_id']" class="badge badge-secondary">Unknown</span>
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if server['is_local']==1 %}
                        {% if server['status']=='Online' %}
                        <span style="margin: auto;">
                            <form action="/settings/turn_off" method="POST">
                                <button type="submit" class="close" id="refresh_ports" name="ip" value={{server["ip"]}} onSubmit="return confirm('Are you sure you wish to startup the server?');">
                                    <span aria-hidden="true" style="font-size: 12px;margin: auto;">Shutdown</span>
                                </button>
                            </form>
                        </span>
                        {% else %}
                            <span style="margin: auto;">
                                <form action="/settings/turn_on" method="POST">
                                    <button type="submit" class="close" id="refresh_ports" name="ip" value={{server["ip"]}} onSubmit="return confirm('Are you sure you wish to startup the server?');">
                                        <span aria-hidden="true" style="font-size: 12px;margin: auto;">Turn On</span>
                                    </button>
                                </form>
                            </span>
                        {% endif %}
                    {% else %}
                        <span style="margin: auto;">
                            <form action="/settings/remove_unmanaged" method="POST">
                                <button type="submit" class="close" id="refresh_ports" name="ip" value={{server["ip"]}} onSubmit="return confirm('Are you sure you wish to remove the server? This will also remove any related game server.');">
                                    <span aria-hidden="true" style="font-size: 12px;margin: auto; color: brown">Delete</span>
                                </button>
                            </form>
                        </span>
                    {% endif %}
                </td>
            </tr>

        {%endfor%}    

        </table>
        <div id="add_server_section" style="display: flex; flex-direction: column;">
            <button type="button" class="btn btn-light" id="add_new_button" onclick="add_new_open()" style="align-self: center;">Add unmanaged server <i class="fa fa-plus-square"></i></button>
        </div>
    </div>
    {% else %}
    <div></div>
    {% endif %}

</div>

{% endblock %}