{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block body %}

        <nav class="header"> 

    <div style="display: flex; flex-direction: row; align-content: center">
    
        <a href="" style="margin-left: 50px; align-self: center">
            
            
            
        </a>
    
        <div class="navbar navbar-expand-lg navbar-dark" id="navbar">
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" id="logout" href="/logout" style="color:white">Logout</a>
                {% else %}
                <a class="nav-item nav-link" id="login" href="/login" style="color:white">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up" style="color:white">Sign Up</a>
                {% endif %}
            </div>
        </div>
    
    </div>
    
    <p style="margin-right: 50px; align-self: center; text-align: center; margin-top: auto; margin-bottom: auto;">{{dt}}</p>
    
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %} 
            {% if category =='error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
    {% endwith %}

    <div style="padding: 15%;">
        {% if state >= 0 %}
            <form method="POST" id="go_back_form" style="position: absolute;"><input type="checkbox" id="one_step_back" name="one_step_back" checked hidden><button style="border: 0; background-color: transparent; font-size: xx-small; color:blue" type="submit">&#8592; Go back</button></form>
        {% endif %}
        <form method="POST" style="padding: 2%" class="body-main-list" id="main">
        <h3 align="center">Sign Up</h3>
        {% if state == 1 %}

        <div class="form-group">
            <label for="e_mail">Email</label>
            <input
            type="email"
            class="form-control"
            id="e_mail"
            name="e_mail"
            placeholder="Enter email"
            />
        </div>

        <div class="form-group">
            <label for="password1">Password</label>
            <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
            />
        </div>
        <div class="form-group">
            <label for="password2">Password (Confirm)</label>
            <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
            />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>

        {% elif state == 2 %}

        <div class="form-group" align="center">
            <p>Select a 2-Factor authentication option (required): </p>
        </div>

        <div class="form-group" align="center">
            <a onclick="selectEmail()">
                <input
                type="checkbox"
                id="getotpmail"
                name="getotpmail"
                readonly
                checked
                />
                <i class="fa fa-envelope"></i>
                <label for="getotpmail">Get One-Time-Passwords through e-mail</label>
            </a>
        </div>
        <div class="form-group" align="center">
            <a onclick="selectApp()">
                <input
                type="checkbox"
                id="getotpapp"
                name="getotpapp"
                />
                <i class="fa fa-mobile-phone"></i>
                <label for="getotpapp">Use an authenticator app (e.g. Google Authenticator)</label>
            </a>
        </div>

        <script>
            function selectEmail(){
                document.getElementById('getotpmail').checked = true;
                document.getElementById('getotpapp').checked = false;
            }

            function selectApp(){
                document.getElementById('getotpmail').checked = false;
                document.getElementById('getotpapp').checked = true;
            }

        </script>

        <br />
        <button type="submit" class="btn btn-primary">Continue</button>

        {% elif state == 3 %}

        <div class="form-group" align="center">
            <p style="font-size: large;">Setup the authenticator app by following the steps bellow: </p>
            <p><b>1)</b> Scan the code using an authenticator app (e.g. Google Authenticator)<br><b>2)</b> Enter the code shown on the Authenticator app bellow and validate</p>
        </div>

        <div class="form-group" align="center">
            <img src="data:image/png;base64, {{otp_setup_img}}" alt="Secret Token" style="width:200px;height:200px" />
        </div>
        <div class="form-group" align="center">
            <label for="otp_code">Code</label>
            <input
            type="text"
            id="otp_code"
            name="otp_code"
            pattern="[0-9]{6}"
            autocomplete="off"
            required
            />
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Validate</button>

        {% else %}

        <div class="form-group">
            {% if error_username %}
            <label for="userName">Username</label>
            <input
            type="text"
            class="form-control is-invalid"
            id="userName"
            name="userName"
            placeholder="Enter minecraft username"
            info="test"
            required
            />
            <div class="invalid-feedback">
                Username not found
            </div>
            {% else %}
            <label for="userName">Username</label>
            <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
            placeholder="Enter minecraft username"
            info="test"
            required
            />
            {% endif %}
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Check Availability</button>

        {% endif %}

        </form>
    </div>
    {% endblock %}